# Firebase / Cloud Functions
RESEND_API_KEY=
EMAIL_FROM=Oryn Inc. <contracts@orynsolutions.io>
ADMIN_NOTIFY_EMAIL=info@orynsolutions.io
ADMIN_EMAILS=admin@orynsolutions.io
APP_BASE_URL=https://orynsolutions.io
SIGNING_BASE_URL=https://orynsolutions.io
TOKEN_EXPIRY_DAYS=30
FUNCTIONS_REGION=us-central1
